@page
@using Quoter.Web.ViewModels.Shared;
@model Quoter.Web.Pages.AdminDashboard.IndexModel
@{
	ViewData["Title"] = @Localizer["Dashboard"];
}

<div class="container">
	@await Html.PartialAsync("_BreadCrumbsPartial", new BreadCrumbsViewModel(Localizer["Dashboard"]))
	<div class="container m-1">
		<h1>@Localizer["Dashboard"]</h1>
	</div>

	<div class="row justify-content-center  m-0 p-4 bg-light-subtle">

		@* COLLECTIONS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="row">
						<div class="col-4"><i class="bi bi-book fs-1"></i></div>
						<div class="col-4"><i class="bi bi-translate fs-1"></i></div>
						<div class="col-4"><i class="bi bi-journal-arrow-down fs-1"></i></div>
					</div>
					<div class="row">
						<div class="col-4 fw-bold">@Model.ViewModel.CollectionsNo</div>
						<div class="col-4 fw-bold">@Model.ViewModel.TopLanguageDownloads</div>
						<div class="col-4 fw-bold">@Model.ViewModel.CollectionsDownloadedNo</div>
					</div>
				</div>
				
				<div class="card-body">
					<h3 class="card-title">@Localizer["Collections"]</h3>
					<p class="card-text">
						@Localizer["ViewAndManageCollections"]
					</p>
					<a asp-page="Collections/Index" class="btn btn-primary">@Localizer["Manage"]<i class="bi bi-tools p-2"></i></a>
				</div>
			</div>
		</div>

		@* VERSIONS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="row">
						<div class="col-4"><i class="bi bi-files fs-1"></i></div>
						<div class="col-4"><i class="bi bi-download fs-1"></i></div>
						<div class="col-4"><i class="bi bi-arrow-repeat fs-1"></i></div>
					</div>
					<div class="row">
						<div class="col-4 fw-bold">@Model.ViewModel.VersionsNo</div>
						<div class="col-4 fw-bold">@Model.ViewModel.VersionsDownloaded</div>
						<div class="col-4 fw-bold">@Model.ViewModel.VersionsUpdates</div>
					</div>
				</div>

				<div class="card-body">
					<h3 class="card-title">@Localizer["Versions"]</h3>
					<h6 class="card-subtitle mb-2 text-body-secondary">@Localizer["Latest released version: "] @Model.ViewModel.LatestVersion</h6>
					<p class="card-text">
						@Localizer["ViewAndManageVersions"]
					</p>
					<a asp-page="/AppVersions/Index" class="btn btn-primary">@Localizer["Manage"]<i class="bi bi-tools p-2"></i></a>
				</div>
			</div>
		</div>

		@* REGISTRATIONS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="row">
						<div class="col-12"><i class="bi bi-clipboard2-check fs-1"></i></div>
					</div>
					<div class="row">
						<div class="col-12 fw-bold">@Model.ViewModel.RegistrationsNo</div>
					</div>
				</div>
				<div class="card-body">
					<h3 class="card-title">@Localizer["Registrations"]</h3>
					<p class="card-text">
						@Localizer["ViewAndManageRegistrations"]
					</p>
					<a asp-page="/AppRegistrations/Index" class="btn btn-primary">@Localizer["Manage"]<i class="bi bi-tools p-2"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center  m-0 p-4 bg-light-subtle">
		@* APPLICATION KEYS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="row">
						<div class="col-12"><i class="bi bi-key fs-1"></i></div>
					</div>
					<div class="row">
						<div class="col-12 fw-bold">@Model.ViewModel.AppKeysNo</div>
					</div>
				</div>
				<div class="card-body">
					<h3 class="card-title">@Localizer["ApplicationKeys"]</h3>
					<p class="card-text">
						@Localizer["ViewAndManageApplicationKeys"]
					</p>
					<a asp-page="/ApplicationKeys/Index" class="btn btn-primary">@Localizer["Manage"]<i class="bi bi-tools p-2"></i></a>
				</div>
			</div>
		</div>
		
		@* STATISTICS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="col-12"><i class="bi bi-info-circle fs-1"></i></div>
				</div>
				<div class="card-body">
					<h3 class="card-title">@Localizer["Statistics"]</h3>
					<p class="card-text">
						@Localizer["WORK IN PROGRESS"]
					</p>
					<a asp-page="/AppRegistrations/Index" class="btn btn-primary">@Localizer["Manage"]<i class="bi bi-tools p-2"></i></a>
				</div>
			</div>
		</div>

		@* LOGS *@
		<div class="col-lg-4">
			<div class="card p-2 m-2  shadow">
				<div class="p-1 text-center">
					<div class="row">
						<h5>@Localizer["Errors occurrence"]</h5>
					</div>
					<div class="row">
						<div class="col-4">@Localizer["Today"]</div>
						<div class="col-4">@Localizer["Week"]</div>
						<div class="col-4">@Localizer["Month"]</div>
					</div>
					<div class="row">
						<div class="col-4 fw-bold">@Model.ViewModel.ErrorsToday</div>
						<div class="col-4 fw-bold">@Model.ViewModel.ErrorsLastSevenDays</div>
						<div class="col-4 fw-bold">@Model.ViewModel.ErrorsLastThirtyDays</div>
					</div>
				</div>
				<div class="card-body">
					<h3 class="card-title">@Localizer["Logs"]</h3>
					<p class="card-text">
						@Localizer["View web application logs"]
					</p>
					<a asp-page="/AppLogs/Index" class="btn btn-primary">@Localizer["View"]</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row justify-content-center  m-0 p-4 bg-light-subtle">
		
		@* STATISTICS *@
		<div class="col-lg-12">
			<div class="card p-2 m-2  shadow">
				
				<div class="card-body">
					<h3 class="card-title">@Localizer["Statistics"]</h3>
					<div class="p-1 text-center">
						<div class="row">
							<div class="col-2">08/2023</div>
							<div class="col-2">09/2023</div>
							<div class="col-2">10/2023</div>
							<div class="col-2">11/2023</div>
							<div class="col-2">12/2023</div>
							<div class="col-2">01/2024</div>
						</div>
						<div class="row">
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsDownloaded</div>
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsUpdates</div>
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsNo</div>
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsDownloaded</div>
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsUpdates</div>
							<div class="col-2 fw-bold">@Model.ViewModel.VersionsUpdates</div>
						</div>
					</div>
					<p class="card-text">
						@Localizer["WorkInProgress"]
					</p>
				</div>
			</div>
		</div>



		
	</div>

</div>
