@page
@model Quoter.Web.Pages.AppRegistrations.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ViewModels[0].Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewModels[0].Identifier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewModels[0].IpAddress)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewModels[0].RegisteredDateTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewModels[0].VersionDownloads)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ViewModels)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Identifier)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IpAddress)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RegisteredDateTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VersionDownloads)
				</td>
				<td>
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
				</td>
			</tr>
		}
	</tbody>
</table>
