@page
@model Quoter.Web.App.Pages.QuoterApp.Updates.Create
@{
}

<h1>Create update</h1>
<form method="post" asp-page="QuoterApp/Updates/Create">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.EditorFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class="col-sm-9">
            @Html.EditorFor(model => model.Version)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.EditorFor(model => model.Description)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class="col-sm-9">
            @Html.EditorFor(model => model.Path)
        </dd>
    </dl>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
