@page
@using Quoter.Web.Framework.Models;
@model Quoter.Web.App.Pages.QuoterApp.Updates.List
@{
}
<h1>Updates</h1>
<table class="table">

    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Version</th>
        <th scope="col">Created date</th>
        <th scope="col"></th>
    </tr>
    @foreach(QuoterUpdate update in Model.LstQuoterUpdates)
    {
        <tr>
            <td>@update.Id</td>
            <td>@update.Name</td>
            <td>@update.Version</td>
            <td>@update.CreationDate</td>
            <td><a class="btn btn-link" asp-area="" asp-page="/QuoterApp/Updates/Details" asp-route-id="@update.Id" role="button">Details</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-area="" asp-page="/QuoterApp/Updates/Create" role="button">Create</a>