@*
	"HOME" Landing page of the website.
	Contains download button and features list
*@
@page
@model IndexModel
@{
	ViewData["Title"] = Localizer["Home"];
}

<section id="home" class="hero section">

	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
				<h1>@Localizer["Build wisdom one verse at a time"]</h1>
				<p>@Localizer["Remind yourself..."]</p>
				<p>@Localizer["Lots of customization options..."]</p>
				<div class="d-flex">
					@if (Model.IsDownloadAvailable)
					{
						<a asp-page="Download" class="btn btn-primary p-2"><i class="bi bi-download p-2"></i>@Localizer["Download for Windows"]</a>
					}
					else
					{
						<div class="btn btn-secondary p-2">@Localizer["Download unavailable at this time"]</div>
					}

				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
				@switch (Model.CurrentCulture)
				{
					case "en-US":
						<img src="~/images/mv-media-en.png" class="img-fluid animated" alt="">
						break;
					case "ro-RO":
						<img src="~/images/mv-media-ro.png" class="img-fluid animated" alt="">
						break;
					case "fr-FR":
						<img src="~/images/mv-media-fr.png" class="img-fluid animated" alt="">
						break;
				}
			</div>
		</div>
	</div>

</section>

<section id="featured-services" class="featured-services section">
	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<div class="icon"><i class="bi bi-bell icon"></i></div>
					<h4 class="stretched-link">@Localizer["Periodic notifications"]</h4>
					<p>@Localizer["Receive regular notifications..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
				<div class="service-item position-relative">
					<div class="icon"><i class="bi bi-pencil-square icon"></i></div>
					<h4 class="stretched-link">@Localizer["Collections editor"]</h4>
					<p>@Localizer["Create and edit your own..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
				<div class="service-item position-relative">
					<div class="icon"><i class="bi bi-share icon"></i></div>
					<h4 class="stretched-link">@Localizer["Export and import"]</h4>
					<p>@Localizer["Export your created collections..."]</p>
				</div>
			</div><!-- End Service Item -->
		</div>
	</div>
</section>

<section id="about" class="about section">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<span>@Localizer["Who is this for"]<br></span>
		<h2>@Localizer["About"]</h2>
		<p>@Localizer[""]</p>
	</div><!-- End Section Title -->
	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
				<img src="~/images/man-on-computer.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
				<h3>@Localizer["Do you work on your PC or laptop?"]</h3>
				<p class="fst-italic">
					@Localizer["Then Minute Verse is for you..."]
					@Localizer["Here are some ways you can use the app:"]
				</p>
				<ul>
					<li><i class="bi bi-check2-all"></i> <span>@Localizer["As a reminder..."]</span></li>
					<li><i class="bi bi-check2-all"></i> <span>@Localizer["Learning little by little..."]</span></li>
					<li><i class="bi bi-check2-all"></i> <span>@Localizer["A tool to help you memorize..."]</span></li>
					<li><i class="bi bi-check2-all"></i> <span>@Localizer["Create your own collection..."]</span></li>
				</ul>
				<p>
					@Localizer["Easy to install and use as is..."]
				</p>
			</div>
		</div>
	</div>
</section>

<section id="stats" class="stats section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row gy-4">
			<div class="col-lg-6 col-md-6">
				<div class="stats-item text-center w-100 h-100">
					<span data-purecounter-start="0" data-purecounter-end="@Model.DownloadsCount" data-purecounter-duration="1" class="purecounter"></span>
					<p>@Localizer["Downloads"]</p>
				</div>
			</div><!-- End Stats Item -->

			<div class="col-lg-6 col-md-6">
				<div class="stats-item text-center w-100 h-100">
					<span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
					<p>@Localizer["Bible translations"]</p>
				</div>
			</div><!-- End Stats Item -->
		</div>
	</div>
</section>

<section id="features" class="services section light-background">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<span>@Localizer["Features"]</span>
		<h2>@Localizer["Features"]</h2>
		<p>@Localizer["See below all of the features of the application"]</p>
	</div><!-- End Section Title -->
	<div class="container">

		<div class="row gy-4">

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-fadein-en.gif" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Periodic notifications"]</h3>
					</a>
					<p>@Localizer["You can customize the intervals..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-scroll-en.gif" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Scrollable"]</h3>
					</a>
					<p>@Localizer["Scroll to the next or previous verses..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-opacity-en.gif" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Customizable opactity"]</h3>
					</a>
					<p>@Localizer["Make the notification window..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-themes-en.jpg" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Multiple color themes"]</h3>
					</a>
					<p>@Localizer["Choose from a variety of pre-set color..."]</p>
					<a href="index" class="stretched-link"></a>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-link-en.png" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Virtual book"]</h3>
					</a>
					<p>@Localizer["Click the chapter and verse to open a simplified reader..."]</p>
					<a href="index" class="stretched-link"></a>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
				<div class="service-item position-relative">
					<img class="w-100 p-1" src="~/images/mv-pinned-en.png" />
					<a href="index" class="stretched-link">
						<h3>@Localizer["Pinnable notification"]</h3>
					</a>
					<p>@Localizer["If you prefer, the notification window..."]</p>
					<a href="index" class="stretched-link"></a>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<div class="icon">
						<i class="bi bi-pencil-square"></i>
					</div>
					<a href="index" class="stretched-link">
						<h3>@Localizer["Integrated editor"]</h3>
					</a>
					<p>@Localizer["Create and edit your own collections using the integrated editor..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<div class="icon">
						<i class="bi bi-star"></i>
					</div>
					<a href="index" class="stretched-link">
						<h3>@Localizer["Select your favourites"]</h3>
					</a>
					<p>@Localizer["You can select your favourite chapters or books..."]</p>
				</div>
			</div><!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item position-relative">
					<div class="icon">
						<i class="bi bi-share"></i>
					</div>
					<a href="index" class="stretched-link">
						<h3>@Localizer["Share or import collections"]</h3>
					</a>
					<p>@Localizer["Share your private collections..."]</p>
				</div>
			</div><!-- End Service Item -->

		</div>
	</div>
</section><!-- /Services Section -->
<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section accent-background">

	<div class="container">
		<div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
			<div class="col-xl-10">
				<div class="text-center">
					<h3>@Localizer["Download now"]</h3>
					<p>@Localizer["Try it out and see if you like it..."]</p>
					@if (Model.IsDownloadAvailable)
					{
						<a asp-page="Download" class="cta-btn"><i class="bi bi-download p-2"></i>@Localizer["Download for Windows"]</a>
					}
					else
					{
						<div class="cta-btn m">@Localizer["Download unavailable at this time"]</div>
					}
				</div>
			</div>
		</div>
	</div>

</section><!-- /Call To Action Section -->
